// bower:scss
@import "bower_components/include-media/dist/_include-media.scss";
// endbower

// Configs
// Modulos

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  lost-utility: edit;
}

.rombo {
  transform: rotate(45deg);
  width: 480px;
  margin: 100px auto;
  border: 5px solid white;
  overflow: hidden;
  position: relative;
  &:before {
    content: ' ';
    transform: rotate(-45deg);
    background-image: url('../images/header-bg.jpg');
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -25%;
    left: -25%;
    bottom: -25%;
    right: -25%;
  }
  &:after {
    content: '';
    padding-top: 100%;
    display: block;
  }
  &__contenido {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 15%;
    &:after {
      content: ' ';
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      border: 2px solid white;
      transform: rotate(45deg);
    }
    transform: rotate(-45deg);
  }
}
